<div id="aboutproj">
	<div class="sitetext">
		<h3><u>About this Project!</u></h3>
		<p> What I, in the end, decided to make, was a bunch of things:</p>
		<ol>
			<li>A Freewriting interface, where you have a page where you get one of many random topics taken from the web, set a certain amount of time, and write.  You can choose to email the freewrite to yourself, or to a friend.</li>
			<li>A link to a multi-tab search for google chrome</li>
		</ol>
		<p> You can see more at the <a href = "projects.php">Projects</a> page </p>
		<h2>I realize this isn't the most exciting of webpages... yet.  Not to worry, that will change!</h2>
	</div>