<div id="aboutme">
	<div class="sitetext" >
		<h3><u>About Me!</u></h3>
		<p> I'm a Hong Kong-Born, Taipei- and Shanghai- raised French citizen, currently studying Applied Math-Computer Science at Brown University '18. Prior to Brown, I spent a year in France (3 months in Vichy, 9 in Paris), mastering the French language and then spending 6 months at Le Cordon Bleu learning cuisine.  I'm now learning a whole bunch of (computer programming) languages, and this website is an attempt at doing something with all that learning!  This page is written in PHP, HTML, and CSS (and maybe JavaScript).  I know my way around MATLAB and Python, kind of know how to write code in C, although, of course, I'm still learning!  Hope you like the website!
		</p>
		<h2>I realize this isn't the most exciting of webpages... yet.  Not to worry, that will change!</h2>
	</div>