<div id="home">
	<div class="sitetext" >
		<h3><u>Welcome!</u></h3>
		<p> Hey there! I hope you're doing well, and thank you for stopping by my website!  It's truly a pleasure to have you here.  This  website is the culmination of the work I've done over the summer of 2015 - my "final project," if you must.  I still haven't decided what exactly it's going to be, but I think this website is a good way to kill some time while I think about it.  Look around a bit, and contact me if you (really really) want to!</p>
		<h2>I realize this isn't the most exciting of webpages... yet.  Not to worry, that will change!</h2>
	</div>