<div id="projects">
	<div class="sitetext" >
		<h3><u>Projects</u></h3>
		<p> Follow the links below to stuff I've made for this site!</p>
		<ul>
			<li><a href="../../15minutefreewrite/public/">Fifteen Minute Freewrites</a> - my little app that takes random topics from the web and spits them at you.  You can set the time to write.</li> 
			<li><a href="multitab_search.html">Multi-Tab Search for Chrome</a> - an idea my brother thought up and I developed – a search that spans multiple tabs!</li>
		</ul>
		<h2>Note: These links don't actually lead anywhere... Yet</h2>
	</div>